@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  background-color: #343a40;
  font-family: 'Montserrat', sans-serif;
  color: white;
  z-index: 0;
}

.box{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box li{
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(255,255,255,0.2);
  animation: animate 20s linear infinite;
  bottom: -150px;
}

.box li:nth-child(1){
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.box li:nth-child(2){
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.box li:nth-child(3){
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}

.box li:nth-child(4){
  left: 70%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}

.box li:nth-child(5){
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
  animation-duration: 15s;
}

.box li:nth-child(6){
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

@keyframes animate{
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100%{
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

/* HTML */

.main span{
  position: absolute;
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  color: white;
  background: none;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}


#btnAwl{
  position: absolute;
  top: 60%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.popup{
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  top: 0;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.popup-content{
  height: 150px;
  width: 250px;
  background: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.popup-content h5{
  background: white;
  text-align: center;
  color: black;
}

.popup-content input{
  margin-top: 15px;
  background: white;
  margin-left: auto;
  margin-right: auto;
  color: black;
  display: block;
  width: 75%;
  align-items: center;
  border: 1px solid gray;
}

.popup-content .btn{
  position: relative;
  margin-top: -50px;
}

.main h3{
  position: absolute;
  font-size: 30px;
  text-align: center;
  color: white;
  margin-top: 250px;
  background: none;
}


@media screen and (max-width: 600px){
  .main span{
    font-size: 20px;
  }
}

